.letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  font-weight: bold;
}

.letter.animate {
  animation: moveIn 0.5s forwards;
}

@keyframes moveIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
