<nav class="h-14 flex items-center justify-between bg-gradient-to-r from-fuchsia-900 to-purple-800 px-4">
  @if (isLoggedIn()){
  <div class="flex gap-8 items-center text-white">
    <p class="uppercase hover:text-black transition duration-500 cursor-pointer font-extrabold text-2xl">Inicio</p>
    <p class="uppercase hover:text-black transition duration-500 cursor-pointer font-extrabold text-2xl">Jogar</p>
    <p class="uppercase hover:text-black transition duration-500 cursor-pointer font-extrabold text-2xl">Perfil</p>
    <p class="uppercase hover:text-black transition duration-500 cursor-pointer font-extrabold text-2xl">Chat</p>
  </div>
  }
  <app-toolbar-profile></app-toolbar-profile>
</nav>
