<div *ngIf="question" class="p-6 max-w-lg mx-auto bg-gradient-to-r from-fuchsia-900 to-purple-800 rounded-xl shadow-md space-y-6 text-white mt-5">
  <div class="space-y-2">
    <h2 class="text-2xl font-bold">{{ question.questionText }}</h2>
    <p class="text-sm"><strong>Categoria:</strong> {{ question.category }}</p>
    <p class="text-sm"><strong>Dificuldade:</strong> {{ question.difficulty }}</p>
    <p class="text-sm"><strong>Tipo:</strong> {{ question.type }}</p>
  </div>
  <div class="space-y-2">
    <button 
      *ngFor="let answer of answers" 
      (click)="selectAnswer(answer)"
      class="w-full py-2 px-4 bg-purple-700 text-white font-semibold rounded-lg shadow-md hover:bg-purple-900 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75 transition duration-300 ease-in-out transform hover:scale-105"
    >
      {{ answer }}
    </button>
  </div>
</div>